<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <!-- The current view is swapped in here. -->
    @RenderBody()

    <!-- Reference jQuery scripts that are included with the web template. -->
    @RenderSection("Scripts", required: false)
</body>
</html>

